<!--Section: Products v.3-->
<section class="section pb-3">
    <!--Section heading-->
    <h1 class="section-heading h1 pt-4">Trendi Deals Of The Day</h1>
    <!--Section description-->
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

    <!--First row-->
    <div class="row">

        <!--First column-->
        <div class="col-lg-3 col-md-6 mb-r"  *ngFor="let deal of dotdData?.dotdList | slice:1:5">

            <!--Card-->
            <div class="card">

                <!--Card image-->
                <div class="view overlay hm-white-slight z-depth-1 height-250">
                    <img src="{{deal.imageUrls[0].url}}" alt="">
                    <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Category & Title-->
                    <a href="" class="text-muted">
                        <h5>{{deal.description}}</h5>
                    </a>
                    <h4 class="card-title"><strong><a href="">{{deal.title | slice:0:22}}</a></strong></h4>

                    <!--Description-->
                    <p class="card-text">
                    </p>

                    
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--/First column-->

    </div>
    <!--/First row-->
</section>
<!--Section: Products v.3-->