<div class="imgCarousel">
    
</div>
<div class="container">
    <!--Section: Blog Post-->
    <section class="section magazine-section multi-columns">
        <!--Section heading-->
        <h2 class="section-heading h1 mt-5">Trendi Story</h2>
        <!--Section description-->
        <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <!--Grid row-->
        <div class="row text-left">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r">
                <!--Featured news-->
                <div class="single-news">
                    <!--Image-->
                    <a href="" class="orange-text mb-1"><h6><i class="fas fa-mobile-alt"></i><strong> Mobiles</strong></h6></a>
                    <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                        <img src="../../../assets/images/pexels-photo-248528.jpeg" alt="First sample image" >
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <a><strong>This is title of the news.</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Featured news-->
                <!--Small news-->
                <div class="single-news">
                    <a>24 Food Swaps That Slash Calories.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
                <!--Small news-->
                <div class="single-news">
                    <a>How to Make a Beet Cocktail?
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
                <!--Small news-->
                <div class="single-news">
                    <a>8 Sneaky Reasons You're Always Hungry.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
                <!--Small news-->
                <div class="single-news">
                    <a>5 Pressure Cooker Recipes You Need to Try.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-r">
                <!--Featured news-->
                <div class="single-news">
                    <!--Image-->
                    <a href="" class="green-text"><h6><i class="fas fa-laptop"></i><strong> Laptops</strong></h6></a>
                    <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                        <img src="../../../assets/images/pexels-photo-374074.jpeg" alt="Second sample image">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <a><strong>This is title of the news.</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Featured news-->
                <!--Small news-->
                <div class="single-news">
                    <a>Trends in the blogosphere for 2016.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
                <!--Small news-->
                <div class="single-news">
                    <a>Where you eat the best lunch in Warsaw?
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
                <!--Small news-->
                <div class="single-news">
                    <a>What camera take for holidays?
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
                <!--Small news-->
                <div class="single-news">
                    <a>Why you should visit Lisbon?
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-r">
                <!--Featured news-->
                <div class="single-news">
                    <!--Image-->
                    <a href="" class="pink-text"><h6><i class="fas fa-tv"></i><strong> Electronics</strong></h6></a>
                    <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                        <img src="../../../assets/images/pexels-photo-442576.jpeg" alt="Third sample image">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <a><strong>This is title of the news.</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Featured news-->
                <!--Small news-->
                <div class="single-news">
                    <a>Top models in Poland.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
                <!--Small news-->
                <div class="single-news">
                    <a>London Fashion Week - see online.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
                <!--Small news-->
                <div class="single-news">
                    <a>Best bags designers in Italy.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
                <!--Small news-->
                <div class="single-news">
                    <a>Choose best swimsuit for summer.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!--Section: Blog Post-->
    <!--Section: Deals of the day-->
<app-dotd></app-dotd>
<div class="text-center">
    <!--MDB-->
    <button type="button" class="btn btn-mdb waves-light" mdbRippleRadius>View All</button>
    <!--Section: Deals of the day-->
</div>
<!--Section: Best Sellers-->
<app-best-seller></app-best-seller>
<div class="text-center">
<!--MDB-->
<button type="button" class="btn btn-mdb waves-light" mdbRippleRadius>View All</button>
<!--Section: Deals of the day-->
</div>
<!--Section: Best Sellers-->
<!--Section: Offer of the day-->
<app-offer></app-offer>
<div class="text-center">
<!--MDB-->
<button type="button" class="btn btn-mdb waves-light" mdbRippleRadius>View All</button>
<!--Section: Deals of the day-->
</div>
<!--Section: Offer of the day-->
</div>