.blog_submit_card{
	margin-bottom: 0px !important;
	padding:20px;
}

.category_wrap {
    height: 250px;
    overflow-y: scroll;
}

.mat_blog_tag {
	display:block !important;

}

.mat_blog_tag .mat-chip:not(.mat-basic-chip) {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 4px 12px;
    border-radius: 24px;
    align-items: center;
    cursor: default;
}

.mat_blog_tag .mat-chip:not(.mat-basic-chip) + .mat-chip:not(.mat-basic-chip) {

    margin: 8px 0 0 8px;

}