<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="#">TrendiToday Administrator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/adminHome">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminUsers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminCategory">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminBlogs">Blog</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blog
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" routerLink="/admin-blog">Blog List</a>
          <a class="dropdown-item" href="#" routerLink="/admin-add-blog">Add Blog</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>