<div class="container login">
    <section>
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" [(ngModel)]="model.emailId" class="form-control" id="exampleInputEmail1" name="emailId" aria-describedby="emailHelp"
                    placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" [(ngModel)]="model.password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    required>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
        </form>
        <br>
        <div class="alert alert-danger" *ngIf="showLoginWarningMessage" role="alert">
            Invalid email id or password
        </div>
    </section>
</div>
